---
# Default home page with boxes providing collection stats
layout: page
---

{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">
  
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">  {{ content }}</p>
      </div>
    </div>

        <!-- {% include index/description.html %} -->
        {% include index/carousel.html title="Sample Items" %}
    
        {% include index/data-download.html %}

  </div>


  <div class="col-md-4">  

    {% include feature/card.html header="Mining" text="This is the boiler room of a mine" objectid="watkins25" %}

    {% include index/objects.html %}
 
    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

  </div>

</div>